#BoxModel {
    background-color:white;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
  }
  
  #div2 {
    width: 300px;
    height: 100px;  
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
  }
  #ShadowEffects {
    font-size: 30px;
    text-shadow: 2px 2px;
  }
  #ShadowEffects1 {
    font-size: 30px;
    text-shadow: 2px 2px red;
  }
  #ShadowEffects2 {
    font-size: 30px;
    text-shadow: 2px 2px 5px red;
  }
  #ShadowEffects3 {
    font-size: 30px;
    color: blue;
    text-shadow: 2px 2px 4px #000000;
  }
  #ShadowEffects4 {
    font-size: 30px;
    text-shadow: 0 0 3px #FF0000;
  }
  #ShadowEffects5 {
    font-size: 30px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }
  #ShadowEffects6 {
    font-size: 30px;
    color: blue;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  #ShadowEffects6 {
    font-size: 30px;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  #ShadowEffects7 {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 10px 10px;
  }

  #TextDecoration {
    font-size: 30px;
    text-decoration: overline;
  }
  #TextDecoration2 {
    font-size: 30px;
    text-decoration: line-through;
  }
  #TextDecoration3 {
    font-size: 30px;
    text-decoration: underline;
  }
  
  #a:link {
    color: red;
  }
    a:hover {
        color: hotpink;
    }
    
    p::first-letter {
        color: #ff0000;
        font-size: xx-large;
      }
      
      p::first-line {
        color: #0000ff;
        font-variant: small-caps;
      }
      @font-face {
        font-family: myFirstFont;
        src: url(sansation_light.woff);
      }
      
      #fontface {
        font-family: myFirstFont;
      }
      #clippath img:first-child {
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
      } 

    #clippath img:last-child {
      clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    } 
   
    #clippath2 img:first-child {
      clip-path: circle(50% at 50% 50%);
    } 
